h1 {
    color: white;
    background-color: green;
    text-align:  center;
    font-size: 42px;
}

.record {
    color: black;
    font-size: 42px;
}


.anser {
  font-size: 42px;
  color: red;
  font-weight: bold;
}

