h1 {
  color: white;
  background-color: green;
  text-align:  center;
  font-size: 42px;
}

h2 {
  text-align:  center;
}

.record {
  color: green;
  text-align:  center;
  font-size: 42px;
}

#qtext1{
  font-size: 24px;

}

.anser {
  font-size: 42px;
  color: red;
  font-weight: bold;
}

.container{
  height: 768px;
  width: 1360px;
  position: relative;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  background-size: cover;
  background-position: center center;
  
  animation: image-switch-animation 25s infinite;
}

.src1 {
  background-image: url(sample1.jpg);
  width:auto;
    
}
.src2 {
  background-image: url(sample2.jpg);
  width:auto;  
}
.src3 {
  background-image: url(sample3.jpg);
  width:auto;  
}


@keyframes image-switch-animation {
  0%{ opacity: 0;}
  5%{ opacity: 1;}
  25%{ opacity: 1;}
  30%{ opacity: 0;}
  100%{ opacity: 0;}
}

.image:nth-of-type(1) {
  animation-delay: 0s;
}
.image:nth-of-type(2) {
  animation-delay: 5s;
}
.image:nth-of-type(3) {
  animation-delay: 10s;
}
.image:nth-of-type(4) {
  animation-delay: 15s;
}
.image:nth-of-type(5) {
  animation-delay: 20s;
}
