h1 {
  color: white;
  background-color: green;
  text-align:  center;
  font-size: 42px;
}

h2 {
  text-align:  center;
}

.record {
  color: green;
  text-align:  center;
  font-size: 42px;
}

#qtext1{
  font-size: 24px;

}

.anser {
  font-size: 42px;
  color: red;
  font-weight: bold;
}

img {
  width: 100%;
}
